/* Estilos personalizados para o gerador de currículo */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-outline-secondary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-secondary:hover {
    background-color: #007bff;
    color: #fff;
}

#curriculoGerado {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#curriculoGerado pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}
